@import "tailwindcss";

body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Inter', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  background-image: 
    linear-gradient(rgba(20, 20, 20, 0.5) 1px, transparent 1px),
    linear-gradient(90deg, rgba(20, 20, 20, 0.5) 1px, transparent 1px);
  background-size: 40px 40px;
  margin: 0;
}

* {
  border-radius: 0 !important;
}

button, input, div {
  border-radius: 0 !important;
}
